@import url('https://fonts.googleapis.com/css2?family=Alata&family=Mulish:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

// fonts
$alata: 'Alata', sans-serif;
$mulish: 'Mulish', sans-serif;
$roboto: 'Roboto', sans-serif;
$cabin: "Cabin", sans-serif;