@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $cabin;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $cabin;
    font-weight: 500;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $alata;
}

p {
    font-family: $mulish;
    font-size: 1rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    // font-size: 1rem;
    // font-family: $alata;
    color: inherit;
}

// disble input increment decrement
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

input[type=number] {
    outline: none;
}

input[type=number]:hover,
input[type=number]:focus {
    outline: none;
}

.btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-family: $alata;
    font-weight: 600px;
    background-color: $purple;
    color: white;
    cursor: pointer;
    border: 2px solid $purple;
    transition: all 500ms ease-in-out;
}

.btn:hover {
    background-color: white;
    color: $purple;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}